.imagestudent{
  width: 45px;
  height: 15px;
}

.selectorconteiner{
  width: 60px;
  margin-top: 10px; /* Opcional: Agregar margen superior */
}

.selector{
  width: 100%;
}

.nameUser{
  width: 250px;
}