.hu03MostrarRankingYHu05Child {
    position: absolute;
    top: 5.84em;
    right: 0;
    width: 73.75em;
    height: 0.06em;
  }
  .rankingEstudiantil {
    position: relative;
    left: 1.2em;
    margin-top: 2em;
    font-size: 3em;
    font-weight: 800;
    display: inline-block;
    width: 14.23em;
    height: 0.98em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .rankingEstudiantil2023Wrapper {
    position: relative;
    margin-top: 2.44em;
    left: 1.25em;
    border-radius: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 43.38em;
    height: 3.94em;
    text-align: left;
    color: #000;
  }
  .carrera,
  .filtrarPor,
  .trimestre {
    position: absolute;
    top: 7.65em;
    left: 5.75em;
    font-size: 1.25em;
    letter-spacing: 0.01em;
    font-weight: 600;
    -webkit-text-stroke: 0.5px #060606;
  }
  .carrera,
  .trimestre {
    top: 9.74em;
    left: 43em;
    font-size: 1em;
  }
  .trimestre {
    left: 63.38em;
  }
  .icons,
  .todas {
    position: relative;
    flex-shrink: 0;
  }
  .todas {
    font-size: 0.88em;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
    width: 33.5em;
  }
  .icons {
    width: 0.88em;
    height: 0.88em;
    overflow: hidden;
  }
  .hu03MostrarRankingYHu05Inner,
  .todasParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .hu03MostrarRankingYHu05Inner {
    position: absolute;
    top: 12.25em;
    left: 27.19em;
    border-radius: 17px;
    background-color: #4183aa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 32.81em;
    height: 2.13em;
    padding: 0.13em 0.88em;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
    font-family: Montserrat;
  }
  .todos {
    position: relative;
    font-size: 0.88em;
    letter-spacing: 0.01em;
  }
  .frameDiv,
  .todosParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .todosParent {
    gap: 0.63em;
  }
  .frameDiv {
    position: absolute;
    top: 12.25em;
    left: 62.81em;
    border-radius: 17px;
    background-color: #4183aa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 2.13em;
    padding: 0.13em 0.88em;
    box-sizing: border-box;
    color: #fff;
    font-family: Montserrat;
  }
  .hu03MostrarRankingYHu051 {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #f8f8f8;*/
    width: 82.5vw;
    /*height: 100vh;*/
    padding-bottom: 10em;
    overflow: hidden;
  }
  
  .hu03MostrarRankingYHu05 {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 67.5em;
    text-align: left;
    color: #060606;
    font-family: 'Inter';
  }
  
  .conteinerTable{
    position: relative;
    margin: 0;
    padding: 0;
  }
  