.carrera,
.puesto {
  font-size: 0.88em;
  letter-spacing: 0.01em;
  -webkit-text-stroke: 0.5px #060606;
}
.puesto {
  position: absolute;
  top: 0;
  left: 0;
}
.carrera {
  left: 23.36em;
}
.carrera,
.estudiante,
.frame {
  position: absolute;
  top: 0;
}
.estudiante {
  left: 8.5em;
  font-size: 0.88em;
  letter-spacing: 0.01em;
  -webkit-text-stroke: 0.5px #060606;
}
.frame {
  left: 0;
  width: 22.94em;
  height: 1.13em;
  overflow: hidden;
}
.indiceGeneral {
  left: 25.6em;
  font-size: 0.88em;
  letter-spacing: 0.01em;
  -webkit-text-stroke: 0.5px #060606;
}
.frame1,
.indiceGeneral,
.materias {
  position: absolute;
  top: 0;
}
.materias {
  left: 13.14em;
  font-size: 0.88em;
  letter-spacing: 0.01em;
  -webkit-text-stroke: 0.5px #060606;
}
.frame1 {
  left: 79.8em;
  width: 25.63em;
  height: 1.13em;
  overflow: hidden;
}
.frameChild,
.frameContainer {
  position: relative;
  width: 65.44em;
  height: 1.13em;
}
.frameChild {
  width: 40.88em;
  height: 0.06em;
}
.frameGroup {
  width: 65.44em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.63em;
}
.div,
.medicinaOtorrinolaringologia {
  position: absolute;
  top: 0.13em;
  left: 0;
  font-size: 1em;
}
.medicinaOtorrinolaringologia {
  top: 0;
  left: 20.44em;
  color: inherit;
  text-decoration: none;
}
.sebastianLiriano {
  position: absolute;
  top: 0;
  left: 7.44em;
  font-size: 1em;
}
.frame2 {
  top: 0.25em;
  width: 31.44em;
  height: 1.38em;
  overflow: hidden;
}
.div1,
.frame2,
.frameItem {
  position: absolute;
  left: 0;
}
.div1 {
  top: 0.25em;
  font-size: 1em;
}
.frameItem {
  top: 0;
  width: 2em;
  height: 2em;
}
.div2 {
  position: absolute;
  top: 1.22em;
  left: 1em;
  font-size: 0.56em;
  letter-spacing: -0.02em;
  line-height: 1.11em;
  -webkit-text-stroke: 0.2px #060606;
}
.groupParent {
  position: absolute;
  top: 0;
  left: 21.5em;
  width: 2em;
  height: 2em;
  text-align: center;
}
.div3 {
  position: absolute;
  top: 0.25em;
  left: 11.06em;
  font-size: 1em;
}
.frame3,
.frameParent1 {
  position: absolute;
  height: 2em;
}
.frame3 {
  top: 0;
  left: 40.56em;
  width: 23.5em;
  overflow: hidden;
}
.frameParent1 {
  top: 2.81em;
  left: 0;
  width: 64.06em;
}
.div4,
.ingenieraEnRedes {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
}
.ingenieraEnRedes {
  left: 20.44em;
}
.div5,
.div6,
.frame4 {
  position: absolute;
  left: 0;
}
.frame4 {
  top: 0.38em;
  width: 34.63em;
  height: 1.25em;
  overflow: hidden;
}
.div5,
.div6 {
  top: 0.5em;
  font-size: 0.88em;
}
.div6 {
  top: 1.22em;
  left: 0.67em;
  font-size: 0.56em;
  letter-spacing: -0.02em;
  line-height: 1.11em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.22em;
  -webkit-text-stroke: 0.2px #060606;
}
.groupContainer {
  position: absolute;
  top: 0;
  left: 21.69em;
  width: 2em;
  height: 2em;
  text-align: center;
}
.div7 {
  position: absolute;
  top: 0.5em;
  left: 12.64em;
  font-size: 0.88em;
}
.frame5,
.frameParent2 {
  position: absolute;
  height: 2em;
}
.frame5 {
  top: 0;
  left: 40.38em;
  width: 23.69em;
  overflow: hidden;
}
.frameParent2 {
  top: 5.56em;
  left: 0;
  width: 64.06em;
}
.frameDiv,
.frameParent3 {
  position: relative;
  width: 64.06em;
  height: 7.56em;
}
.frameParent3 {
  height: 2em;
}
.div29,
.div31,
.frame16 {
  position: absolute;
  left: 0;
}
.frame16 {
  top: 0;
  width: 34.63em;
  height: 1.25em;
  overflow: hidden;
}
.div29,
.div31 {
  top: 0.07em;
  font-size: 0.88em;
}
.div31 {
  left: 12.64em;
}
.frameParent,
.frameWrapper,
.hu03MostrarRankingYHu05Inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  width: 59.38em;
  height: 36.44em;
  gap: 0.63em;
}
.frameWrapper,
.hu03MostrarRankingYHu05Inner {
  width: 65.44em;
  height: 35.69em;
}
.hu03MostrarRankingYHu05Inner {
  position: relative;
  margin-top: 2em;
  left: 1.5em;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80vw;
  height: 33.25em;
  padding: 1.13em 1.13em 0.63em;
  box-sizing: border-box;
  text-align: left;
  color: #060606;
  font-family: 'Abel';
  font-size:x-large;
}



.fontRanking {
  font-family:'Abel';
  font-size:x-large;
  height: 650;
  width: '100%';
  
}
