.asideStyle{
    background-color: #0B3954;
    display:flex;
    
    width: 17%;
    height: 100vh;
    justify-content: right;
    float: left;
    flex: 1;
  }
  
  
  .nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
    list-style: none;
    gap:32px;
    justify-content: center;
    align-items: flex-start;
  
    
  }