.frame1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 49.3vw;
    height: 1.25em;
    overflow: hidden;
  }
  .div,
  .fullName,
  .carrera {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
  }
  .fullName,
  .carrera {
    left: 20.44em;
  }
  .fullName {
    left: 7.44em;
  }
  .frame {
    position: absolute;
    top: 0.38em;
    left: 0;
    width: 49.3vw;
    height: 1.25em;
    overflow: hidden;
  }
  .frame4 {
    top: 0;
    width: 23.5em;
    height: 2em;
    overflow: hidden;
  }
  .div1,
  .frame4,
  .frameChild {
    position: absolute;
    left: 0;
  }
  .div1 {
    top: 0.38em;
    font-size: 1em;
  }
  .frameChild {
    top: 0;
    width: 2em;
    height: 2em;
  }
  .div2 {
    position: absolute;
    top: 0.38em;
    left: 0.56em;
    font-size: 1em;

  }
  .groupParent {
    position: absolute;
    top: 0;
    left: 21.5em;
    width: 2em;
    height: 2em;
    text-align: center;
  }
  .div3 {
    position: absolute;
    top: 0.38em;
    left: 11.06em;
    font-size: 1em;
  }
  .frame3,
  .frameParent {
    position: absolute;
    top: 0;
    height: 2em;
  }
  .frame3 {
    left: 80.56em;
    width: 23.5em;
    overflow: hidden;
  }
  .frameParent {
    left: 0;
    width: 64.06em;
    text-align: left;
    color: #060606;
    font-family: Abel;
  }
  